<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Weblabs</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<!-- Sample listener for JAF initialization (if needed) -->
	<listener>
		<listener-class>com.example.YourJAFInitializer</listener-class>
	</listener>

	<!-- If any context parameters are needed for JAF -->
	<context-param>
		<param-name>yourJAFParam</param-name>
		<param-value>yourValue</param-value>
	</context-param>
	<!-- Define Servlets and Servlet Mappings -->
	<servlet>
		<servlet-name>AddEmployeeSrv</servlet-name>
		<servlet-class>srv.AddEmployeeSrv</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddEmployeeSrv</servlet-name>
		<url-pattern>/AddEmployeeSrv</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddBankDetailsSrv</servlet-name>
		<servlet-class>srv.AddBankDetailsSrv</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddBankDetailsSrv</servlet-name>
		<url-pattern>/AddBankDetailsSrv</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddCustomerSrv</servlet-name>
		<servlet-class>srv.AddCustomerSrv</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCustomerSrv</servlet-name>
		<url-pattern>/AddCustomerSrv</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>AddDepositSrv</servlet-name>
		<servlet-class>srv.AddDepositSrv</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddDepositSrv</servlet-name>
		<url-pattern>/AddDepositSrv</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>AddRefferal</servlet-name>
		<servlet-class>srv.AddRefferal</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddRefferal</servlet-name>
		<url-pattern>/AddRefferal</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>AddROISrv</servlet-name>
		<servlet-class>srv.AddROISrv</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddROISrv</servlet-name>
		<url-pattern>/AddROISrv</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>AddWithdrawalSrv</servlet-name>
		<servlet-class>srv.AddWithdrawalSrv</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddWithdrawalSrv</servlet-name>
		<url-pattern>/AddWithdrawalSrv</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>BonusApprovalMailLink</servlet-name>
		<servlet-class>srv.BonusApprovalMailLink</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BonusApprovalMailLink</servlet-name>
		<url-pattern>/BonusApprovalMailLink</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>BonusStatus</servlet-name>
		<servlet-class>srv.BonusStatus</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BonusStatus</servlet-name>
		<url-pattern>/BonusStatus</url-pattern>
	</servlet-mapping>
	
			<servlet>
		<servlet-name>ContactLinkmail</servlet-name>
		<servlet-class>srv.ContactLinkmail</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContactLinkmail</servlet-name>
		<url-pattern>/ContactLinkmail</url-pattern>
	</servlet-mapping>
	
			<servlet>
		<servlet-name>ContactSrv</servlet-name>
		<servlet-class>srv.ContactSrv</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContactSrv</servlet-name>
		<url-pattern>/ContactSrv</url-pattern>
	</servlet-mapping>
	
	<servlet>
    <servlet-name>DepositApprovalMailLink</servlet-name>
    <servlet-class>srv.DepositApprovalMailLink</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>DepositApprovalMailLink</servlet-name>
    <url-pattern>/DepositApprovalMailLink</url-pattern>
</servlet-mapping>
	
	
	<servlet>
    <servlet-name>DepositeStatus</servlet-name>
    <servlet-class>srv.yourpackage.DepositeStatus</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>DepositeStatus</servlet-name>
    <url-pattern>/DepositeStatus</url-pattern>
</servlet-mapping>
	
	<servlet>
    <servlet-name>DepositMailLink</servlet-name>
    <servlet-class>srv.DepositMailLink</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>DepositMailLink</servlet-name>
    <url-pattern>/DepositMailLink</url-pattern>
</servlet-mapping>
	
	<servlet>
    <servlet-name>EditProfile</servlet-name>
    <servlet-class>srv.yourpackage.EditProfile</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>EditProfile</servlet-name>
    <url-pattern>/EditProfile</url-pattern>
</servlet-mapping>
	
	<servlet>
    <servlet-name>EmpLoginSrv</servlet-name>
    <servlet-class>srv.EmpLoginSrv</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>EmpLoginSrv</servlet-name>
    <url-pattern>/EmpLoginSrv</url-pattern>
</servlet-mapping>
	
	<servlet>
    <servlet-name>EmpValidateOtp</servlet-name>
    <servlet-class>srv.EmpValidateOtp</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>EmpValidateOtp</servlet-name>
    <url-pattern>/EmpValidateOtp</url-pattern>
</servlet-mapping>
	
	<servlet>
    <servlet-name>OTPGenerator</servlet-name>
    <servlet-class>srv.OTPGenerator</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>OTPGenerator</servlet-name>
    <url-pattern>/OTPGenerator</url-pattern>
</servlet-mapping>
	<servlet>
    <servlet-name>PasswordResetServlet</servlet-name>
    <servlet-class>srv.PasswordResetServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>PasswordResetServlet</servlet-name>
    <url-pattern>/PasswordResetServlet</url-pattern>
</servlet-mapping>
	
	<servlet>
    <servlet-name>ProfileDetails</servlet-name>
    <servlet-class>srv.ProfileDetails</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ProfileDetails</servlet-name>
    <url-pattern>/ProfileDetails</url-pattern>
</servlet-mapping>
	
	<servlet>
    <servlet-name>RandomAccountIDGenerator</servlet-name>
    <servlet-class>srv.RandomAccountIDGenerator</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>RandomAccountIDGenerator</servlet-name>
    <url-pattern>/RandomAccountIDGenerator</url-pattern>
</servlet-mapping>
	
	<servlet>
    <servlet-name>ReferalLinkGenarate</servlet-name>
    <servlet-class>srv.ReferalLinkGenarate</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ReferalLinkGenarate</servlet-name>
    <url-pattern>/ReferalLinkGenarate</url-pattern>
</servlet-mapping>
	
	<servlet>
    <servlet-name>ReferralBonusMailLink</servlet-name>
    <servlet-class>srv.ReferralBonusMailLink</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ReferralBonusMailLink</servlet-name>
    <url-pattern>/ReferralBonusMailLink</url-pattern>
</servlet-mapping>
	
	<servlet>
    <servlet-name>RegistrationMailLink</servlet-name>
    <servlet-class>srv.RegistrationMailLink</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>RegistrationMailLink</servlet-name>
    <url-pattern>/RegistrationMailLink</url-pattern>
</servlet-mapping>
	<servlet>
    <servlet-name>ReportDateSrv</servlet-name>
    <servlet-class>srv.ReportDateSrv</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ReportDateSrv</servlet-name>
    <url-pattern>/ReportDateSrv</url-pattern>
</servlet-mapping>
	
	<servlet>
    <servlet-name>ReportSrv</servlet-name>
    <servlet-class>srv.ReportSrv</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ReportSrv</servlet-name>
    <url-pattern>/ReportSrv</url-pattern>
</servlet-mapping>
	
	<servlet>
    <servlet-name>ReporttransactiondateSrv</servlet-name>
    <servlet-class>srv.ReporttransactiondateSrv</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ReporttransactiondateSrv</servlet-name>
    <url-pattern>/ReporttransactiondateSrv</url-pattern>
</servlet-mapping>
	
	<servlet>
    <servlet-name>ReporttransactionuseridSrv</servlet-name>
    <servlet-class>srv.ReporttransactionuseridSrv</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ReporttransactionuseridSrv</servlet-name>
    <url-pattern>/ReporttransactionuseridSrv</url-pattern>
</servlet-mapping>
	
	<servlet>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <servlet-class>srv.ResetPasswordServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <url-pattern>/ResetPasswordServlet</url-pattern>
</servlet-mapping>
	<servlet>
    <servlet-name>RoiApprovalMailLink</servlet-name>
    <servlet-class>srv.RoiApprovalMailLink</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>RoiApprovalMailLink</servlet-name>
    <url-pattern>/RoiApprovalMailLink</url-pattern>
</servlet-mapping>
	
	<servlet>
    <servlet-name>UseridOpenAmtservlet</servlet-name>
    <servlet-class>srv.UseridOpenAmtservlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>UseridOpenAmtservlet</servlet-name>
    <url-pattern>/UseridOpenAmtservlet</url-pattern>
</servlet-mapping>
	
	<servlet>
    <servlet-name>WithdrawalApprovalMailLink</servlet-name>
    <servlet-class>srv.WithdrawalApprovalMailLink</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>WithdrawalApprovalMailLink</servlet-name>
    <url-pattern>/WithdrawalApprovalMailLink</url-pattern>
</servlet-mapping>
	
	<servlet>
    <servlet-name>WithdrawalMailLink</servlet-name>
    <servlet-class>srv.WithdrawalMailLink</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>WithdrawalMailLink</servlet-name>
    <url-pattern>/WithdrawalMailLink</url-pattern>
</servlet-mapping>
	
	<servlet>
    <servlet-name>WithdrawalStatus</servlet-name>
    <servlet-class>srv.WithdrawalStatus</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>WithdrawalStatus</servlet-name>
    <url-pattern>/WithdrawalStatus</url-pattern>
</servlet-mapping>
	
	
	
	
	
	
	
	
	
	
	
	
	<servlet>
		<servlet-name>SetSessionAttributeServlet</servlet-name>
		<servlet-class>srv.SetSessionAttributeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SetSessionAttributeServlet</servlet-name>
		<url-pattern>/SetSessionAttributeServlet</url-pattern>
	</servlet-mapping>



	<context-param>
		<param-name>gson-version</param-name>
		<param-value>2.8.8</param-value>
	</context-param>


</web-app>


